{% load static %}
{% for comment in comments %}
    <div class="comment" id="comment-{{ comment.id }}">
        <div class="comment-header">
            <img src="{% static 'path_to_user_avatar' %}" alt="{{ comment.username|default:comment.user.username }}">
            <strong>{{ comment.username|default:comment.user.username }}</strong>
            <span class="timestamp">{{ comment.created_at|date:"F j, Y, g:i a" }}</span>
        </div>
        <div class="comment-body">
            {{ comment.text }}
        </div>
        <div class="comment-footer">
            <div class="actions">
                <a href="#" class="reply-button" data-target="#reply-form-{{ comment.id }}">Reply</a>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
            <div class="vote">
                <span>+{{ comment.likes }}</span>
                <span>-{{ comment.dislikes }}</span>
            </div>
        </div>

        <div class="replies">
            {% include 'comments_tree.html' with comments=comment.replies.all comment_form=comment_form %}
        </div>

        <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
            <h3>Reply to this comment</h3>
            <form action="{% url 'add-comment' post.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="parent" value="{{ comment.id }}">
                <img src="{% static 'captcha/'|add:captcha_image %}" alt="CAPTCHA">
                <input type="submit" value="Reply">
            </form>
        </div>
    </div>
{% endfor %}
